
.reset-link {
  text-decoration: none;
  color: inherit;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 48px 0 0;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-link.active {
  background-color: #e2e2e2;
  font-weight: bold;
  color: #fff;
}
.nav-link:hover {
  background-color: #e2e2e2;
  color: white;
  font-weight: bold;
}

.widget-container {
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  border-radius: 4px;
  height: 100% ;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}

.react-grid-item.cssTransforms {
  transition-property: transform;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.times-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 18px;
}


.grid-layout {
  min-height: 89dvh !important;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-grab {
  cursor: grab;
}